<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Test Case</title>

  <%= stylesheet_link_tag "default" %>
  <%= javascript_include_tag "default" %>

</head>
<body>

  <%= partial "layouts/header" %>
  <main>
    <a href="https://github.com/middleman/middleman/issues/1789#issuecomment-179945850">
      Middleman Issue #1789
    </a>
  </main>
  <%= partial "layouts/footer" %>

</body>
</html>
